html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

canvas {
    height: 100vh;
    width: 100vw;
    display: block;
}

.ui_button_bar{
    width: 100vw;
    position: absolute;
    display: flex;
    justify-content: end;
    bottom:0px;
}

.ui_button {
    white-space:nowrap;
}


.ui_weapon{
    height: 75px;
    float:left;
    clear:none; 
}

.flex_expanded{
    display: flex;
    width: 100%;
    align-items: start;
    overflow: hidden;
}

@media all and (max-width: 815px) {
    .ui_button_bar{
        display: none;
    }
}